table {
    text-align: center;
    width: 600px;
    border: 3px solid black;
    border-collapse: collapse;

}

th, td{
    width: 100px;
    border: 2px solid black;
    font-size: 12px;
}

.clas{
    width: 40px;
    height: 50px;
    font-size: 12px;

}