#addlist {
    width: 300px;
}

#number {
    width: 50px;
}

#detail {
    width: 165px;
}

#lines {
    border: 1px solid;
    padding: 5px;
    width: 600px;
    height: 200px;
}

body {
    text-align: center;
}

ol {
    text-align: left;
}